<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
               <h2>Image Upload/Edit</h2>
            </header>

			<%= render 'form', location_image: @location_image %>
