<!DOCTYPE html>
<html>
	<head>
	<title>SocialNetwork</title>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Squadfree - Free bootstrap 3 one page template</title>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
	<%= stylesheet_link_tag 'testing', media: 'all', 'data-turbolinks-track': 'reload'  %>
	<%= javascript_include_tag 'testing', 'data-turbolinks-track': 'reload'%>


	</head>

	<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
	
    <a href="#" class="btn btn-default" id="signupFacebookButton" style="margin:400px 400px;">Sign</a>

	<div>Sign</div>    


  </body>
</html>
